<!--
  Target for toggling the sidebar `.sidebar-checkbox` is for regular styles, `#sidebar-checkbox` for
  behavior.
-->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div id="bio" class="sidebar-item">
    <h1>Biografia</h1>
    <p>Carlo Onofrio Gori (Prato, 6 Giugno 1949 - Pistoia, 24 Ottobre 2017) è stato ricercatore e studioso di storia locale.</small></p>
        
        <p>Laureato all’Università di Firenze con una tesi sulla storia del movimento operaio italiano, ha lavorato come bibliotecario alla Forteguerriana di Pistoia, dove si è occupato, tra le altre cose, di catalogazione e sistemazione delle fonti storiche.</p>

        <p>Da ricordare il lavoro - svolto presso il Centro di Documentazione di Pistoia - di organizzazione delle pubblicazioni di movimenti politici, studenteschi e rivoluzionari, raccolto in alcuni libri poi acquisiti da prestigiose biblioteche ed istituti di ricerca italiani ed esteri.</p>

        <p>Come storico locale ha collaborato a varie riviste, tra cui «Camicia Rossa», «Patria indipendente», «Storialocale», «Quaderni di Farestoria», e soprattutto alla rivista di storia toscana «Microstoria», dove si è spesso occupato di Risorgimento e di Resistenza.</p>

        <p>Tra i primi a studiare il biennio rosso, l’instaurarsi del fascismo a Pistoia e le ripercussioni locali delle vicende belliche, Gori ha ‘riscoperto’ figure quasi dimenticate come il partigiano Pierluigi Bellini delle Stelle.</p>

        <p>E’ stato socio di varie associazioni storiche e culturali, dell’ AVNRG, dell’Istituto Storico della Resistenza, tra i fondatori dell’ Associazione Culturale Proteo e dell’ Associazione Culturale Prometeo Pistoia.</p>

        <p>Ha tenuto e promosso, anche in ambito nazionale, con successo di pubblico e di critica, presentazioni di libri, mostre e varie Conferenze su fatti e personaggi oggetto dei suoi studi.</p>

        <p>Le sue ricerche hanno conosciuto un’attenta divulgazione presso il grande pubblico tramite alcuni blog di storia da lui fondati e curati, tra cui ricordiamo <a href="https://goriblogstoria.blogspot.com">goriblogstoria.blogspot.com</a>.</p>
  </div>

<!--
  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    <a class="sidebar-nav-item" href="https://github.com/minicomp/ed" target="_blank">GitHub project</a>
  </nav>
-->
  <div class="sidebar-item">
    <p><small>
      Site built with <a href="https://minicomp.github.io/ed/">Ed.</a> <br>Distributed under an MIT license.
    </small></p>
  </div>
</div>
